body {
    font-family: Arial, sans-serif;

}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 16px;
    overflow: hidden;
}
.progress-li{
    position: relative; /* 设置定位上下文 */
    margin-top: 20px;
    color: #93ddfd;
}
.progress-bar-fill {
    height: 12px;
    background-color: #4caf50;
    width: 0%; /* 修改这个百分比以改变进度条的填充比例 */
    text-align: center;
    font-size: 11px;
    color: white;
    line-height: 12px;
    border-radius: 15px;
}
.progress-bar-text-li {
    position: absolute; /* 绝对定位 */
    top: 1px;
    left: 50%;
    z-index: 2;
    color: #943e04;
}

.progress-bar-li {
    position: relative; /* 设置定位上下文 */
    z-index: 1;
}


.resume-upload {
    margin-top: 10px;
}


.queueList{
    width: 400px;
    height: 200px;
}
.file-li{
    background-color: #86b7fe;
    padding: 10px 20px;
    height: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-li:hover {
    background-color: #66b3ff;
}

.file-li:active {
    background-color: #ffecb5;
}


.info{
    height: 10px;
}
.uploadBtn{

}

.file-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.folder-item {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
